---
layout: default
comments: true
---

<section class="contact-me container-lg">
  <div class="row">
    <div class="col-md-4 col-xl-3 text-center">
      <img class="rounded-circle" src="{{ '/assets/images/hero.png' | relative_url }}" alt="image">
    </div>
    <div class="col-md-8 col-xl-9 py-4 text-md-start text-center">
      <h1>Contact me</h1>
      <p class="lead">
        Please get in touch!
      </p>
      <p>
        Create an issue on GitHub, tweet me, connect on LinkedIn or just send me an email <a href="mailto:alex.haslehurst@gmail.com">alex.haslehurst@gmail.com</a>.
      </p>
      <p>
        {% include social.html %}
      </p>
    </div>
  </div>

</section>


