---
layout: default
comments: true
---

<section class="cv-header container text-center pt-5 mb-5">
  <h1>My CV</h1>
  <button type="button" class="btn btn-primary btn-lg" onClick="window.print()">
    <i class="fas fa-file-code fa-fw"></i>
    Print to PDF
  </button>
</section>

<section class="container-fluid mb-5">
  <article class="cv container py-5 p-sm-5">

    <div class="row g-1">
      <div class="col-md-8">
        <h2 class="fw-bold display-5 mb-1">ALEX HASLEHURST</h2>
        <p class="h4 mb-0 text-muted">Software Developer</p>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled small mb-0">
          {% for kvp in site.data.contact %}
            {% assign contact = kvp[1] %}
            {% if contact.type == 'primary' %}
              <li>
                <a href="{{ contact.url }}" class="text-decoration-none text-muted">
                  <i class="{{ contact.icon }}"></i> {{ contact.name }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <hr class="my-4 text-muted">

    <div class="d-flex align-items-center flex-column flex-sm-row">
      <img class="mugshot rounded-circle mb-3 mb-sm-0" src="{{ '/assets/images/mugshot.png' | relative_url }}" alt="image">
      <div class="ps-sm-3 mb-0">
        <p class="mb-1">{{ site.data.blurb.headline }}</p>
        <p class="mb-0">{{ site.data.blurb.description }}</p>
      </div>
    </div>

    <hr class="my-4 text-muted">

    <div>
      <h3 class="section-title mb-4">TECH</h3>
      {% for tech in site.data.tech %}
        <dl class="row mb-0">
          <dt class="col-sm-2">{{ tech.name }}</dt>
          <dd class="col-sm-10">{{ tech.value }}</dd>
        </dl>
      {% endfor %}
    </div>

    <hr class="my-4 text-muted">

    <div class="row g-3">
      <div class="col-lg-8">
        <h3 class="section-title mb-4">EXPERIENCE</h3>
        {% for exp in site.data.experience %}
          <h4 class="h5 mb-1 text-muted">
            {{ exp.name }}
            <br>
            <a href="{{ exp.url }}" class="text-decoration-none text-body fw-bold small">@{{ exp.at }}</a>
          </h4>
          <p class="text-muted small">
            <i class="fas fa-clock fa-fw"></i> {{ exp.from }} - {{ exp.to }}
          </p>
          <p>{{ exp.description }}</p>
        {% endfor %}
      </div>

      <div class="col-lg-4">
        <h3 class="section-title mb-4">SKILLS</h3>
        <ul class="list-unstyled">
          {% for skill in site.data.skills %}
            <li>
              <h4 class="h5">{{ skill.name }}</h4>
              <p>{{ skill.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <hr class="my-4">

    <div class="d-flex justify-content-center">
      <ul class="list-inline">
        {% for kvp in site.data.contact %}
          {% assign contact = kvp[1] %}
          {% if contact.type == 'social' %}
            <li class="list-inline-item me-3">
              <a href="{{ contact.url }}" class="text-decoration-none text-muted">
                <i class="{{ contact.icon }}"></i> {{ contact.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </article>
</section>

