{% for post in site.posts %}
    {% assign list0 = forloop.index0 | modulo:2 %}

    {% if list0 == 0 %}
        <div class="row">
    {% endif %}

    <div class="col m12 l6">
        <div class="card grey lighten-4 post-card">
            <div class="card-image">
                <a href="{{ post.url | relative_url }}">
                    <img src="/assets/images/{{post.logo}}">
                </a>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="card-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title }}
                        </a>
                    </h5>
                    <h6 class="blue-grey-text">
                        <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                        {{ post.date | date_to_long_string }}
                    </h6>
                    {{ post.excerpt }}
                </div>
                <div class="card-action">
                    <a href="{{ post.url | relative_url }}" class="valign-wrapper">
                        <i class="fas fa-angle-right fa-lg fa-fw" aria-hidden="true"></i>
                        Read
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if list0 == 1 or forloop.last %}
        </div>
    {% endif %}
{% endfor %}
