<div class="col s12 m6 l4">
    <div class="card grey lighten-4">
        <div class="card-image">
            <a href="{{ include.post.url | relative_url }}">
                <img src="/assets/images/{{include.post.name}}/logo.png">
            </a>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">{{ include.post.title }}</span>
                <h6 class="grey-text ">{{ include.post.date | date_to_long_string }}</h6>
                {{ include.post.excerpt }}
            </div>
            <div class="card-action">
                <a href="{{ include.post.url | relative_url }}" class="valign-wrapper">Read <i class="material-icons">navigate_next</i></a>
            </div>
        </div>
    </div>
</div>