<a href="https://github.com/axle-h">
    <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x grey-text text-lighten-3"></i>
        <i class="fab fa-github fa-stack-1x primary-color-text"></i>
    </span>
</a>
<a href="https://twitter.com/axle_h">
    <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x grey-text text-lighten-3"></i>
        <i class="fab fa-twitter fa-stack-1x primary-color-text"></i>
    </span>
</a>
<a href="https://www.linkedin.com/pub/alex-haslehurst/59/72a/b88/">
    <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x grey-text text-lighten-3"></i>
        <i class="fab fa-linkedin fa-stack-1x primary-color-text"></i>
    </span>
</a>
<a href="mailto: {{ site.email }}">
    <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x grey-text text-lighten-3"></i>
        <i class="fas fa-envelope-open fa-stack-1x primary-color-text"></i>
    </span>
</a>
