<a href="https://github.com/axle-h" target="_blank">
    <span class="social">
        <i class="social-circle"></i>
        <i class="fa-github social-icon"></i>
    </span>
</a>
<a href="https://twitter.com/axle_h" target="_blank">
    <span class="social">
        <i class="social-circle"></i>
        <i class="fa-twitter social-icon"></i>
    </span>
</a>
<a href="https://www.linkedin.com/pub/alex-haslehurst/59/72a/b88/" target="_blank">
    <span class="social">
        <i class="social-circle"></i>
        <i class="fa-linkedin social-icon"></i>
    </span>
</a>
<a href="https://plus.google.com/105632375776338945680" target="_blank">
    <span class="social">
        <i class="social-circle"></i>
        <i class="fa-google-plus social-icon"></i>
    </span>
</a>
<a href="mailto: {{ site.email }}">
    <span class="social">
        <i class="social-circle"></i>
        <i class="fa-envelope-open social-icon"></i>
    </span>
</a>