@charset "utf-8";

$roboto-font-path: "/assets/fonts";
$fa-font-path: "/assets/fonts";

@import "palette";
@import "materialize/materialize.scss";
@import "font-awesome/font-awesome.scss";

.vertical-align-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

/****** Nav ******/
nav a {
    @extend .primary-color-text, .text-darken-2;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);

    .section {
        width: 100%;
    }
}

.icon-block {
    padding: 0 15px;
    .material-icons {
        font-size: inherit;
    }
}

h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: $primary-color-dark;
}

.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: $primary-color-dark;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}


/****** Footer ******/
footer {
    @extend .grey-text, .text-lighten-4;
    a {
        @extend .orange-text, .text-lighten-3;
    }

    .social-container {
        a {
            float: none;
            @media #{$large-and-up} {
                float: right;
            }
        }

        .social {
            @extend .fa-stack, .fa-lg;
            .social-circle {
                @extend .fa, .fa-circle, .fa-stack-2x, .grey-text, .text-lighten-3;
            }
        
            .social-icon {
                @extend .fa, .fa-stack-1x, .fa-inverse, .primary-color-text;
            }
        }
    }
}