---
layout: no_nav
---

<nav role="navigation" class="index-banner">
    <div class="row">
        {% include nav.html %}
    </div>
    
    <div class="row">
      <div class="section">
          <div class="container">
            <div class="header big center">Hello I'm {{ site.title | split: ' ' | first }}</div>
            <div class="header center">A Software Developer With a Passion For</div>
            <div class="row center">
              <div id="headline-type" class="header center">
                <strong class="headline-word">Technology</strong>
                <strong class="headline-word hide">.NET Core</strong>
                <strong class="headline-word hide">Decoupled Microservices</strong>
                <strong class="headline-word hide">Machine Learning</strong>
                <strong class="headline-word hide">Angular</strong>
                <strong class="headline-word hide">Big Data</strong>
                <strong class="headline-word hide">All Cats</strong>
                <strong class="headline-word hide">Functional Programming</strong>
                <strong class="headline-word hide">Kubernetes</strong>
                <strong class="headline-word hide">Free and Open Source Software</strong>
                <strong class="headline-word hide">My 10km Time</strong>
                <strong class="headline-word hide">Good Coffee</strong>
                <strong class="headline-word hide">Retro Gaming</strong>
              </div>
            </div>
            
            <div class="row center">
              <a href="{{ "/about" | relative_url }}" class="btn btn-large waves-effect waves-light">
                <span class="fa fa-user fa-fw fa-lg" aria-hidden="true"></span> My Profile
              </a>
            </div>
          </div>
        </div>
    </div>
    
</nav>

<div class="container">
  <section>
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><i class="fa fa-code" aria-hidden="true"></i></h2>
          <h5 class="center">Software Developer</h5>
          <p class="light center">
            I have over 5 years commercial software development experience spanning multiple industries and technologies.
            I am specialized in .NET &amp; Scala and prefer to work with teams embracing modern agile methodologies, microservice architectures and open source software.
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><i class="fa fa-bar-chart" aria-hidden="true"></i></h2>
          <h5 class="center">Mathematician</h5>
          <p class="light center">
            My strong education in mathematics has helped me quickly accelerate my career past day to day, dumb, CRUD style projects and into data science focussed roles.
            I have deployed machine learning algorithms at scale and re-architectured entire data platforms to meet modern big data demands.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
    {% include post-cards.html %}
</div>