---
layout: default
comments: true
---

<section class="pt-xxl-3 container-xxl gx-0 gx-xxl-3 mb-4">
  <img class="img-fluid" src="/assets/images/{{ page.banner }}" alt="{{ page.title }}">
</section>

<section class="py-3">
  <article class="container" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>

    <ul class="list-unstyled text-muted">
      <li>
        <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </li>

      {% if page.author %}
        <li>
          <i class="fas fa-user fa-fw" aria-hidden="true"></i>
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        </li>
      {% endif %}

      <li>
        <i class="fas fa-book fa-fw" aria-hidden="true"></i>
        {% include reading-time.html %}
      </li>
    </ul>

    <div class="post-body" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</section>

{% include disqus_comments.html %}
