---
layout: default
comments: true
---

<div class="container post-container">
    <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <div class="row">
        <div class="col s12">
          <div class="card grey lighten-5">
              <div class="card-image">
                  <img src="/assets/images/{{page.banner}}">
              </div>

              <div class="card-content post-content">
                <header>
                  <span class="card-title primary-color-text" itemprop="name headline">
                      <h1>{{ page.title | escape }}</h1>
                  </span>

                  <p class="blue-grey-text">
                    <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                      {{ page.date | date: date_format }}
                    </time>
                    <br>
                    {% if page.author %}
                      <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                    {% endif %}
                  </p>
                </header>

                <section itemprop="articleBody">
                    {{ content }}
                </section>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card-panel grey lighten-5">
            <div class="row valign-wrapper">
              <div class="col s3 l2">
                  <img src="{{ "/assets/images/mugshot-square.jpg" | relative_url }}" alt="" class="circle responsive-img">
              </div>
              <div class="col s9 l10">
                <h5>Alex Haslehurst</h5>
                <p>
                  A UK based software developer, mathematician, husband, father, runner, cyclist, cat lover, coffee drinker and retro gamer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
    </div>
</div>
