<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta content="{{ site.title }}" property="og:site_name">

  {% if page.title %}
    <meta content="article" property="og:type">
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="website" property="og:type">
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" property="og:description">

  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ '/cv' | absolute_url }}" property="article:author">
  {% endif %}

  {% if page.banner %}
    {% capture pageBannerUrl %}/assets/images/{{ page.banner }}{% endcapture %}
    <meta content="{{ pageBannerUrl | absolute_url }}" property="og:image">
  {% else %}
    <meta content="{{ '/assets/images/mugshot.png' | absolute_url }}" property="og:image">
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}

  {% if page.tags %}
    {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <meta content="{{ page.url | replace:'index.html','' | absolute_url }}" property="og:url">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | absolute_url }}" />

  <link rel="apple-touch-icon" sizes="180x180" href={{ "/assets/favicon/apple-touch-icon.png?v=1" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href={{ "/assets/favicon/favicon-32x32.png?v=1" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href={{ "/assets/favicon/favicon-16x16.png?v=1" | relative_url }}">
  <link rel="manifest" href={{ "/assets/favicon/site.webmanifest?v=1" | relative_url }}">
  <link rel="shortcut icon" href={{ "/assets/favicon/favicon.ico?v=1" | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="Alex Haslehurst">
  <meta name="application-name" content="Alex Haslehurst">
  <meta name="msapplication-TileColor" content="#ff304f">
  <meta name="msapplication-config" content={{ "/assets/favicon/browserconfig.xml?v=1" | relative_url }}">
  <meta name="theme-color" content="#ff304f">

  {% include google-analytics.html %}
</head>
