@charset "utf-8";

$fa-font-path: "/assets/fonts";

@import "palette";
@import "~materialize-css/sass/materialize.scss";
@import "~font-awesome/scss/font-awesome.scss";
@import "syntax";

/****** Fonts ******/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}


/****** Nav ******/
nav {
    a {
        @extend .primary-color-text, .text-darken-2;
    }
    .sidenav-trigger {
        font-size: $button-icon-font-size;
    }
}

/****** Home ******/
.index-banner {
    min-height: 450px;
    height: auto;
    background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-position: 0% 0%;

    .nav-wrapper {
        width: 100%;

        a {
            @extend .primary-dark-color-text;
        }
    }

    .btn {
        @extend .grey-text, .text-lighten-4;
    }

    .section {
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        width: 100%;
    }

    @extend .grey-text, .text-lighten-4;
    
    @media #{$small-and-down} {
        background-position: 40% 0%;
    }

    @media #{$extra-large-and-up} {
        min-height: 550px;
    }

    .header {
        font-size: $h5-fontsize;
        display: block;
        font-weight: 400;
        line-height: 110%;
        margin-bottom: 0.3em;

        &.big {
            font-size: $h2-fontsize;
        }

    }
}

.icon-block {
    padding: 0 15px;
}

#headline-type {
    min-height: 2em;
    .headline-word {
        &.selected {
            @extend .primary-color, .darken-2;
        }
    }
}

.post-card {
    .card-title a {
        @extend .primary-color-text;
    }
}

/****** Post ******/
.post-container {
    @media #{$medium-and-down} {
        width: 100%;
    }

    @media #{$large-and-up} {
        width: 85%;
    }
    .post {
        .post-content {
            p, table {
               margin-bottom: 1em;
            }

            @media #{$medium-and-down} {
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            ul {
                list-style-type: disc;
                margin-left: 1em;
    
                li {
                    list-style-type: disc;
                }
            }

            img {
                max-width:100%;
                height:auto
            }
        }
    }
}

/****** CV ******/
.cv {
    hr {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }

    aside {
        .card {
            background-color: $primary-color;
            @extend .grey-text, .text-lighten-4;
            a {
                @extend .grey-text, .text-lighten-4;
            }

            .determinate {
                @extend .orange, .lighten-3;
            }
        }
    }

    @media #{$medium-and-down} {
        width: 100%;
    }

    @media #{$large-and-up} {
        width: 85%;
    }

    .icon {
        @extend .center-align;
    }
}


/****** Footer ******/
footer {
    @extend .grey-text, .text-lighten-4;
    a {
        @extend .orange-text, .text-lighten-3;
    }

    .social-container {
        a {
            float: none;
            @media #{$large-and-up} {
                float: right;
            }
        }
    }
}

/****** Social Icons ******/
.social {
    @extend .fa-stack, .fa-lg;
    .social-circle {
        @extend .fa, .fa-circle, .fa-stack-2x, .grey-text, .text-lighten-3;
    }

    .social-icon {
        @extend .fa, .fa-stack-1x, .fa-inverse, .primary-color-text;
    }
}