@charset "utf-8";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "palette";
@import "~materialize-css/sass/materialize.scss";
@import "syntax";

b, strong {
  font-weight: 600;
}

/****** Fonts ******/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
}

a {
    @extend .primary-color-text;
    font-weight: 500;
}

/****** Nav ******/
nav {
    a {
        @extend .primary-color-text, .text-darken-2;
    }
    .sidenav-trigger {
        font-size: $button-icon-font-size;
    }
}

/****** Home ******/
.index-banner {
    min-height: 450px;
    height: auto;
    background-image: url('../../assets/images/hero.jpg');
    background-size: cover;
    background-position: 0% 0%;

    .nav-wrapper {
        width: 100%;

        a {
            @extend .primary-dark-color-text;
        }
    }

    .btn {
        @extend .grey-text, .text-lighten-4;
    }

    .section {
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        width: 100%;
    }

    @extend .grey-text, .text-lighten-4;

    @media #{$small-and-down} {
        background-position: 40% 0%;
    }

    @media #{$extra-large-and-up} {
        min-height: 550px;
    }

    .header {
        font-size: $h5-fontsize;
        display: block;
        font-weight: 400;
        line-height: 110%;
        margin-bottom: 0.3em;

        &.big {
            font-size: $h2-fontsize;
        }

    }
}

.icon-block {
    padding: 0 15px;

    h2, h5 {
        @extend .primary-color-text;
    }
}

#headline-type {
    min-height: 2em;
    .headline-word {
        &.selected {
            @extend .primary-color, .darken-2;
        }
    }
}

.post-card {
    .card-title a {
        @extend .primary-color-text;
    }
}

/****** Post ******/
.post-container {
    @media #{$medium-and-down} {
        width: 100%;
    }

    @media #{$large-and-up} {
        width: 85%;
    }
    .post {
        .post-content {
            p, table {
               margin-bottom: 1em;
            }


            $header-scale: 1.5;
            $h1-fontsize: $h1-fontsize / $header-scale;
            $h2-fontsize: $h2-fontsize / $header-scale;
            $h3-fontsize: $h3-fontsize / $header-scale;
            $h4-fontsize: $h4-fontsize / $header-scale;
            $h5-fontsize: $h5-fontsize / $header-scale;
            $h6-fontsize: $h6-fontsize / $header-scale;
            h1 { font-size: $h1-fontsize; margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;}
            h2 { font-size: $h2-fontsize; margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;}
            h3 { font-size: $h3-fontsize; margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;}
            h4 { font-size: $h4-fontsize; margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;}
            h5 { font-size: $h5-fontsize; margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;}
            h6 { font-size: $h6-fontsize; margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;}

            ul {
                list-style-type: disc;
                margin-left: 1em;

                li {
                    list-style-type: disc;
                }
            }

            @media #{$large-and-up} {
              img {
                max-width: 70% !important;
              }
            }

            @media #{$medium-only} {
              img {
                max-width: 80% !important;
              }
            }

            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/****** CV ******/
.cv {
    hr {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }

    aside {
        .card {
            background-color: $primary-color;
            @extend .grey-text, .text-lighten-4;

            p {
                a {
                    @extend .orange-text, .text-lighten-3;
                    &:hover {
                        @extend .orange-text, .text-lighten-1;
                    }
                }
            }

            .determinate {
                @extend .orange, .lighten-3;
            }
        }
    }

    @media #{$medium-and-down} {
        width: 100%;
    }

    @media #{$large-and-up} {
        width: 85%;
    }

    .icon {
        @extend .center-align;
    }
}


/****** Footer ******/
footer {
    @extend .grey-text, .text-lighten-4;
    a {
        @extend .orange-text, .text-lighten-3;
    }

    .social-container {
        float: none;
        @media #{$large-and-up} {
            float: right;
        }
    }
}
